/* font-family: 'Libre Baskerville', serif;
font-family: 'Raleway', sans-serif; */
h1,
h2 {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}
h1 {
  font-size: 90px;
}
h2 {
  font-size: 35px;
}
h2 i {
  font-size: 15px;
}
p {
  font-family: "Libre Baskerville", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 18px;
}
.social-links a {
  padding: 20px;
  font-size: 25px;
  color: black;
}
.hero {
  background: #ffffee;
  text-align: center;
  padding: 180px 30px;
}
.btn-about {
  background: black;
  color: aliceblue;
  padding: 15px 25px;
}
